/* 
    Created on : Oct 10, 2017, 3:42:16 PM
    Author     : carterneilsen
need colors #D2B48C (TAN)  #FFFF99(YELLOW) #696969 (SILVER)
#FFFFFF(WHITE) #FO8O8O (CORAL) 
*/

table, th, td {
    border: 8px solid #D2B48C;
    vertical-align: middle;
    
}

th{
   padding-top: 4px; 
   padding-bottom: 4px; 
   color: #696969; 
   background-color: #FFFF99; 
   border: 1px solid #FFFFFF; 
   height: 20px;
}

table { 
background-color: #FO8O8O;
border-collapse: collapse;
width: 100%;
border: #696969;
border-width: 5px;
color: #696969;
}


body {background-color: #D2B48C; 
color: #FFFFFF;
text-align: center;
margin: 0px;
}

.addform input[type="text"]{
    box-sizing: border-box;
    background-color: #FFFF99;
    margin-bottom: 2%;
    border: 1px solid #696969;
    height: 30px;
    text-align: center;
}

.buttons input[type="reset"]{
    background-color: white;
    font-family: tahoma;
    font-size: 12px;
    padding: 8px;
    border: 2px solid #696969;
    border-radius: 10px;
}
.buttons input[type="submit"]{
    background-color: white;
    font-family: tahoma;
    font-size: 12px;
    padding: 8px;
    border: 2px solid #696969;
    border-radius: 10px;
}

.h1{
    color: #FO8O8O;
}