/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2017, 3:42:16 PM
    Author     : carterneilsen
need colors #D2B48C (TAN)  #FFFF99(YELLOW) #696969 (SILVER)
#FFFFFF(WHITE) #FO8O8O (CORAL) 
*/

table, th, td {
    border: 8px solid #D2B48C;
    vertical-align: middle;
    
}

th{
   padding-top: 4px; 
   padding-bottom: 4px; 
   color: #696969; 
   background-color: #FFFF99; 
   border: 1px solid #FFFFFF; 
   height: 20px;
}

table { 
background-color: #FO8O8O;
border-collapse: collapse;
width: 100%;
}


body {background-color: #D2B48C; 
color: #FFFFFF;
text-align: center;
margin: 0px;}

addform

buttons
